*{
    margin: 0;
}

.head-container{
    background-color: lightgray;
    display: flex;
    justify-content: center;
}

.header{
    width: 1000px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.link-container{
    margin-left: 10px;
}

.link-item{
    margin-right: 20px;
}

.landing{
    width: 1000px;
    height: 200px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.landing-container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.landing-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    line-height: 1.2;

}

.landing-text a{
    margin-top: 10px;
    border: solid, black;
    width: 50px;
    text-align: center;
}



.landing-img img{
    width: 500px;
    height: auto;
    border-radius: 10px;
}