*{
    margin: 0;
    font-family: Roboto;
}

#start{
    background-color: #1F2937;
}

.head-container{
    display: flex;
    justify-content: center;
}

.header{
    width: 1000px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header h1{
    font-size: 24px;
    color: #F9FAF8;
}

.link-container{
    margin-left: 10px;
}

.link-item{
    margin-right: 20px;
    text-decoration: none;
    color: #E5E7EB;
}

.landing{
    width: 1000px;
    height: 400px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.landing-container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.landing-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 400px;
    line-height: 1.2;
    margin: 0 20px 0 0;

}

.landing-text h1{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;

}

.landing-text p{
    font-size: 18px;
    color: #E5E7EB;
}

.landing-text a{
    margin-top: 10px;
    width: 50px;
    text-align: center;
    color: white;
    background-color: #3882F6;
    padding: 5px;
    text-decoration: none;
    border-radius: 10px;
}



.landing-img img{
    width: 500px;
    height: auto;
    border-radius: 10px;
}

.about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-elements{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.about-elements h2{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 30px;
}

.image-container{
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.image-subtext{
    display: flex;
    flex-direction: column;
    width: 150px;
    text-align: center;
}

.icons{
    width: 150px;
    height: auto;
    margin-bottom: 5px;
}